#ncase_header {
  width: 100%; height: 150px;
  /*min-width:900px;*/
  overflow: hidden;
  position: relative;
}
#ncase_header div{
  position: absolute;
}
#ncase_header > div:nth-child(1){
  background: #000;
  width:50%; height:100%;
  left:-37.5px;
}
#ncase_header > div:nth-child(2){
  background: #000;
  width:50%; height:100%;
  right:-37.5px;
}
#ncase_header > div:nth-child(3){
  
  width:75px; height:150px;

  left: -webkit-calc(50% - 37.5px);
  left: -moz-calc(50% - 37.5px);
  left: -ms-calc(50% - 37.5px);
  left: -o-calc(50% - 37.5px);
  left: calc(50% - 37.5px);

  position: fixed;

}
#ncase_header > div:nth-child(3) > div{
  border-width: 115px 50px;
  border-color: transparent #000 transparent transparent;
  border-style: solid;
  left: -38px;
  top: -115px;
}
#ncase_header > div:nth-child(4){
  
  width:75px; height:150px;

  left: -webkit-calc(50% - 37.5px);
  left: -moz-calc(50% - 37.5px);
  left: -ms-calc(50% - 37.5px);
  left: -o-calc(50% - 37.5px);
  left: calc(50% - 37.5px);

}
#ncase_header > div:nth-child(4) > div{
  border-width: 115px 50px;
  border-color: transparent transparent transparent #000;
  border-style: solid;
  left: 12px;
  top: 35px;
}

#ncase_header:hover > div:nth-child(1){
  background: #d40;
}
#ncase_header:hover > div:nth-child(2){
  background: #d40;
}
#ncase_header:hover > div:nth-child(3) > div{
  border-color: transparent #d40 transparent transparent;
}
#ncase_header:hover > div:nth-child(4) > div{
  border-color: transparent transparent transparent #d40;
}
#ncase_header:hover {
  /*background: #000;*/
}