div#contact

	| <script type="text/javascript">
	| <!--
	| var s="=b!isfg>#nbjmup;ojdlAodbtf/nf#?=ejw!je>#fnbjm#?=0ejw?=0b?";
	| m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
	| //-->
	| </script>
	| <noscript>
	| &#60&#97&#32&#104&#114&#101&#102&#61&#34&#109&#97&#105&#108&#116&#111&#58&#110&#105&#99&#107&#64&#110&#99&#97&#115&#101&#46&#109&#101&#34&#62&#60&#100&#105&#118&#32&#105&#100&#61&#34&#101&#109&#97&#105&#108&#34&#62&#60&#47&#100&#105&#118&#62&#60&#47&#97&#62&#13&#10&#13&#10&#13&#10&#13&#10&#13&#10
	| </noscript>

	a(href="/feed.xml")
		div#rss
	a(href="https://twitter.com/ncasenmare")
		div#twitter
	a(href="http://facebook.com/nutcasenightmare")
		div#facebook
	a(href="https://github.com/nutcasenightmare")
		div#github
div#site_info
	| this site has <a href="http://creativecommons.org/publicdomain/zero/1.0/">zero rights reserved</a>
	br
	| <a href="https://github.com/nutcasenightmare/ncase.me">fork this site on github</a>
	br
	br
	span(style="color:#fff") yours truly, nick